/* Selector comodin, se aplica a todos los elementos */
* {
    padding: 0px;
    margin: 0px;
}

/* CSS */
main {
    width: 1000px;
    margin: 20px auto;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
}

h5 {
    font-family: 'Times New Roman', Times, serif;
}

main>header {
    height: 180px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
  
li.dropdown {
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {background-color: #f1f1f1;}
  
.dropdown:hover .dropdown-content {
    display: block;
}

section>header {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}

section {
    border: 1px solid rgb(0, 0, 0);
    width: 600px;
    float: left;
}

section article {
    padding: 5px;
    text-align: justify;
}

aside {
    width: 300px;
    float: right;
    text-align: center;
}

footer {
    border: 1px solid rgb(0, 0, 0);
    clear: both;
    text-align: center;
}

section>footer {
    border: 1px solid rgb(0, 0, 0);
    clear: both;
    text-align: center;
}

header, section, aside {
    margin-bottom: 5px;
}

header, section, aside, footer {
    border: solid 1px rgb(0, 0, 0);
}

table, th, td {
    border: 1px solid black;
}

.h2form {
    background-color: rgb(132, 134, 134);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 22px; 
    color:rgb(255, 255, 255); 
    text-align: center; 
    text-transform: uppercase;
    padding: 10px;
}

.label1 {
    display:inline-block;
    margin: 5px;
}

.input2 {
    margin-bottom:10px; 
    margin-right:5px;
}

fieldset {
    padding: 10px
}

.fieldset1 {
    background-color: rgb(204, 217, 218); 
    border:rgb(204, 217, 218);
}

.fieldset2 {
    background-color: #eeeda5; 
    border:#eeeda5;
}

.fieldset3{
    background-color: #a5c2ee; 
    border:#a5c2ee;
}

.fieldset4 {
    background-color: #e6918b; 
    border:#e6918b;
}

.fieldset5 {
    background-color: #e9b67d; 
    border:#e9b67d; 
    text-align: justify;
}

.legend1 {
    background-color: white; 
    border: 2px solid rgb(204, 217, 218);
}

.legend2 {
    background-color: white; 
    border: 2px solid #eeeda5;
}

.legend3 {
    background-color: white;
    border: 2px solid #a5c3ee;
}

.legend4{
    background-color: white; 
    border: 2px solid #e6918b;
}

.legend5{
    background-color: white; 
    border: 2px solid #e9b67d;
}

.indentado {
    padding-left: 15px;
    line-height: 25px;
}

table, th, td {
    border:0;
}

.registro {
    float:right;
}


/* CSS RESPONSIVO */

@media screen and (min-width: 1300px) {
    main {
        width: 70%;
    }
    section {
        width: 40%;
    }
    aside {
        width: 30%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
    main {
        width: 95%;
    }
    section {
        width: 50%;
    }
    aside {
        width: 40%;
    }
}

@media screen and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    main {
        width: 95%;
    }
    section {
        width: 45%;
    }
    aside {
        width: 40%;
    }
}

@media screen and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    main {
        width: 95%;
    }
    section {
        width: 45%;
    }
    aside {
        width: 40%;
    }
}

@media screen and (max-width: 414px) and (max-height: 736px) and (orientation: portrait) {
    main {
        width: 99%;
    }
    section {
        width: 50%;
    }
    aside {
        width: 40%;
    }
}

@media screen and (max-width: 736px) and (max-height: 414px) and (orientation: landscape) {
    main {
        width: 99%;
    }
    section {
        width: 50%;
    }
    aside {
        width: 40%;
    }
}